.sections img{
    vertical-align: middle;
}

body{
    background-color: black;
}

h1, h2, h3, h4, h5, p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

main h4{
    color: white;
}

.sections a{
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: .1s;
    padding: 1px;
}

.sections a:hover{
    transition: padding .1s ease-out;
    padding: 5px;
}

.titles{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.project-blocks a{
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    transition: padding .1s ease-out;
}

.project-blocks a:hover{
    padding: 13px 13px;
    color: black;
    background-color: white;
}

.project-blocks div{
    background-color: #4d435030;
    border-radius: 30px;
    padding: 17px;
    width: 13%;
    transition: .1s;
}

.project-blocks div:hover{
    transition: padding .1s ease-out;
    padding: 22px 22px 22px 22px;
}

.project-blocks h4{
    color: white;
}

nav a:hover:not(.home){

    background-color: rgba(153, 153, 153, 0.381);
    border-radius: 30px;
}

.novidades{
    background-color: #3d354b;
    margin: -8px;
    padding: 15px;
}

.novidades h2{
    color: white;
}

.blocks div{
    background-color: #ffffffa1;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    height: 320px;
    margin: 30px;
    transition: .1s;
}

.blocks div a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    margin: 0 auto;
    width: 35%;
    text-align: center;
    transition: padding .1s ease-in-out;
}

.blocks h3, h4, h5, p{
    color: black;
}

.blocks div h4{
    color: black;
}

.blocks div:hover{
    transition: padding .1s ease-in-out;
    padding: 30px 30px;
}




.blocks div a:hover{
    padding: 15px 20px 15px 20px;
}



.moreinfo{
    text-decoration: underline;
    color: white;
    background: black;
    padding: 3px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: arial;
}

.some{
    text-align: right;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer p{
    color: white;
}
